*{
  margin: 0%;
  padding: 0%;
}
body{
  background-color: #1f1f1f;
}
.design-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1f1f1f;
  padding: 100px 0;
  font-family: Jost;
}

.design {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline {
  background-color: #1f1f1f;
  width: 80%;
  height: auto;
  max-width: 1000px;
  margin-top: 0%;
  padding-left: 20%;
  padding-right: 20% ;
  display: flex;
  flex-direction: column;
}

.timeline-content {
  padding: 20px;
  background: #666666;
  -webkit-box-shadow: 5px 5px 10px #363636, -5px -5px 10px #999999;
          box-shadow: 5px 5px 10px #f7b72d2f, -5px -5px 10px #f7b72d;
  border-radius: 5px;
  color: white;
  padding: 1.75rem;
  transition: 0.4s ease;
  overflow-wrap: break-word !important;
  margin: 1rem;
  margin-bottom: 20px;
  border-radius: 6px;
  width: 300px;
}

.timeline-component {
  margin: 0px 70px 30px 70px;
}
.timeline {
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
  }
  .timeline-middle {
    position: relative;
    background-image: linear-gradient(45deg, #f7b72d, #ff5100);
    width: 6px;
    height: 100%;
  }
  .main-middle {
    opacity: 0;
  }
  .timeline-circle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-image: linear-gradient(45deg, #f7b72d, #ff5100);
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
.timeline-circle {
  position: relative;
  width: 60px; /* İstenilen genişlik ayarı */
  height: 60px; /* İstenilen yükseklik ayarı */
  border-radius: 50%;
  background-image: linear-gradient(45deg, #f7b72d, #ff5100);
}

.timeline-date {
  line-height: 13px;
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);}
  img{
    width: 300px;
    height: 150px;
    border-radius: 5%;
  }
  h1{
    background-color:#666666 ;
  }
  p{
    background-color:#666666;
  
  }
  span{
    background-color:none ;
  }
  .box{
    align-items: center;
    padding: 100px;
  }
  @media only screen and (max-width: 959px) {

    *{
      margin: 0%;
      padding: 0%;
    }
    body{
      background-color: #1f1f1f;
    }
    .design-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #1f1f1f;
      padding: 50px 0;
      font-family: Jost;
      padding-right: 50px
    }
    
    .design {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .timeline {
      background-color: #1f1f1f;
      width: 80%;
      height: auto;
      max-width: 350px;
      margin-top: 0%;
      padding-left: 20%;
      padding-right: 50px ;
      display: flex;
      flex-direction: column;
    }
    
    .timeline-content {
      padding: 20px;
      background: #666666;
      -webkit-box-shadow: 5px 5px 10px #363636, -5px -5px 10px #999999;
              box-shadow: 5px 5px 10px #f7b72d2f, -5px -5px 10px #f7b72d;
      border-radius: 5px;
      color: white;
      padding: 1.75rem;
      transition: 0.4s ease;
      overflow-wrap: break-word !important;
      margin: 1rem;
      margin-bottom: 20px;
      border-radius: 6px;
      width: 225px;
    }
    
    .timeline-component {
      margin: 0px 70px 30px 70px;
    }
    .timeline {
        display: grid;
        grid-template-columns: 1fr 3px 1fr;
      }
      .timeline-middle {
        position: relative;
        background-image: linear-gradient(45deg, #f7b72d, #ff5100);
        width: 6px;
        height: 100%;
      }
      .main-middle {
        opacity: 0;
      }
      .timeline-circle {
        position: absolute;
        top: 0;
        left: 50%;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-image: linear-gradient(45deg, #f7b72d, #ff5100);
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%); }
    .timeline-circle {
      position: relative;
      width: 60px; /* İstenilen genişlik ayarı */
      height: 60px; /* İstenilen yükseklik ayarı */
      border-radius: 50%;
      background-image: linear-gradient(45deg, #f7b72d, #ff5100);
    }
    
    .timeline-date {
      line-height: 13px;
      text-align: center;
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);}
      img{
        width: 200px;
        height: 113px;
        border-radius: 5%;
      }
      h1{
        background-color:#666666 ;
      }
      p{
        background-color:#666666;
      
      }
      span{
        background-color:none ;
      }
      .box{ 
        width: 800px;
        align-items: center;
        padding: 0px;
        padding-left:50px;
        margin-left:50px;
      }





  }
